<p style="color: green"><%= notice %></p>

<h1>Addresses</h1>

<div class="row">
  <div class="col">Address</div><div class="col">Count</div>
</div>

<% @addresses.sort_by { |addr| addr.messages.count }.reverse.each do |address| %>
  <%= render address %>
<% end %>
